.header__lang-link {
  color: #FFFFFF;
  margin: 0 0 6px 0;
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  line-height: 117%;
  text-align: right;
  text-decoration: none;
}

@media screen and (max-width: 719px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 111%
  }
}
