.place__title {
  width: 460px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  color: #FFFFFF;
  margin: 0;
}

@media screen and (min-width: 321px) and (max-width: 895px) {
  .place__title {
    width: 340px;
    font-size: 42px;
    line-height: 110%;
  }
}
