.place__webcite {
  width: max-content;
  display: grid;
  grid-template-columns: 1fr;
  align-content: space-between;
  align-self: flex-end;
}

@media screen and (max-width: 719px) {
  .place__webcite {
    margin: 32px 16px;
  }
}
