.places {
  padding: 135px 148px 49px 148px;
}

@media screen and (min-width: 1025px) and (max-width: 1279px) {
  .places {
    padding: 92px calc((148px + 48px) / 2) 92px calc((148px + 48px) / 2);
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .places {
    padding: 92px 48px 92px 48px;
  }
}
