.places {
  padding: 92px 148px 92px 148px;
}

@media screen and (min-width: 1025px) and (max-width: 1279px) {
  .places {
    padding: 42px calc((148px + 48px) / 2) 92px calc((148px + 48px) / 2);
  }
}

@media screen and (min-width: 896px) and (max-width: 1024px) {
  .places {
    padding: 42px 48px 92px 48px;
  }
}

@media screen and (min-width: 720px) and (max-width: 895px) {
  .places {
    padding: 38px 24px 90px 24px;
  }
}

@media screen and (max-width: 719px) {
  .places {
    padding: 64px 0 66px 0;
  }
}
