.lead {
  padding: 0 148px 92px 148px;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .lead {
    padding: 0 48px 92px 48px;
  }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .lead {
    padding: 0 0 88px 0;
  }
}

