.cover__subtitle {
  width: 360px;
  height: 66px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 122%;
  text-align: center;
  color: #FFFFFF;
  margin: 32px auto 0 auto;
}
