.header__logo {
  position: absolute;
  width: 176px;
  height: 52px;
  left: 48px;
  top: 28px;
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .header__logo {
    left: 24px;
    top: 28px;
  }
}
