.place__paragraphs {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  color: #FFFFFF;
  margin: 48px 0 0 0;
}

@media screen and (min-width: 720px) and (max-width: 895px) {
  .place__paragraphs {
    font-size: 16px;
  }
}

@media screen and (max-width: 719px) {
  .place__paragraphs {
    margin: 32px 16px 0 16px;
    padding: 0;
    font-size: 16px;
  }
}


/*
    margin: 32px 16px 0 16px;
    font-size: 16px;
    line-height: 163%;



*/
