.footer__link-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 112%;
  color: #FFFFFF;
  margin: 0;
}

.footer__link-text:hover {
  opacity: 80%;
  transition: opacity 0.6s linear 0s;
}
