.lead__subtitle {
  width: 640px;
  font-size: 30px;
  line-height: 120%;
  margin: 32px auto 64px auto;
  text-align: center;
  color: #FFFFFF;
  font-style: normal;
  font-weight: normal;
}

@media screen and (min-width: 720px) and (max-width: 1024px) {
  .lead__subtitle {
    margin: 32px auto 56px auto;
  }
}

@media screen and (max-width: 719px) {
  .lead__subtitle {
    margin: 16px auto 40px auto;
    width: 288px;
    font-size: 16px;
    line-height: 125%;
  }
}
