.cover {
  margin: 0 48px 92px 48px;
  background-image: url(../../images/do_baik_na_sob.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: stretch;
}

.cover:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  padding-top: 62.6%;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .cover {
    margin: 0 0 92px 0;
  }
}

@media screen and (min-width: 720px) and (max-width: 768px) {
  .cover {
    margin: 0 0 88px 0;
  }
}

@media screen and (max-width: 719px) {
  .cover {
    margin: 0 0 64px 0;
  }
}
