.place__link {
  width: max-content;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 122%;
  text-decoration-line: underline;
  color: #FFFFFF;
}

.place__link:hover {
  opacity: 80%;
  transition: opacity 0.6s linear 0s;
}
