.header__lang-link_lang_en {
  right: 48px;
}

@media screen and (min-width: 720px) and (max-width: 768px) {
  .header__lang-link_lang_en {
    right: 24px;
  }
}

@media screen and (max-width: 719px) {
  .header__lang-link_lang_en {
    right: 16px;
  }
}
