.lead__caption {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 140%;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  width: max-content;
  color: #FFFFFF;
  padding: 7px 0 0 0;
  margin: 0;
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .lead__caption {
    margin: 0 0 0 24px;
  }
}
