.place {
  margin: 0 0 80px 0;
  padding: 0;
  display: grid;
  grid-template-columns: minmax(400px, 460px) minmax(400px, 484px);
  column-gap: 40px;
}

.place:last-of-type {
  margin: 0;
}

@media screen and (min-width: 896px) and (max-width: 1024px) {
  .place {
    grid-template-columns: minmax(390px, 440px) minmax(370px, 456px);
    column-gap: 32px;
  }
}

@media screen and (min-width: 769px) and (max-width: 895px) {
  .place {
    grid-template-columns: minmax(340px, 390px) minmax(352px, 370px);
    column-gap: 28px;
    margin: 0 0 73px 0;
  }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .place {
    grid-template-columns: minmax(250px, 340px) minmax(320px, 352px);
    column-gap: 28px;
    margin: 0 0 73px 0;
  }
}
